<!DOCTYPE HTML>
<html>
<head>
    <title>Google Map - Twitter</title>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; margin-top: 10px; }
      #map { height: 90%; width: 80%; margin: auto; }
    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
</head>
<body>
    <div id="map"></div>
<script>
    $(function() {
      //var latlng = new google.maps.LatLng(38.8833, 77.0167);
      var latlng = {lat: 14.5833, lng: 121.0000};

      var myOptions = {
        zoom: 9,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
    
      var map = new google.maps.Map(document.getElementById("map"), myOptions);
      namespace = '/tweets';

      var socket = io.connect('//' + document.domain + ':' + location.port + namespace);

      socket.on('tweet', function(data) {
        console.log(data);

        if (data.coordinates !== null) {
          var loc1 = data.coordinates.coordinates[1];
          var loc0 = data.coordinates.coordinates[0];
          var myLatlang = new google.maps.LatLng(loc1, loc0);

          console.log(loc1);
          console.log(loc0);

          var marker = new google.maps.Marker({
            position: myLatlang,
            animation: google.maps.Animation.DROP,
            map: map
          })  

          // Remove marker after 20s
          setTimeout(function() {
             marker.setMap(null);
             delete marker;
          }, 10000);

          var infoWindow = new google.maps.InfoWindow({
            content: "<img src='"+data.user.profile_image_url+"' style='float:left; padding: 5px;' /><strong>"+data.user.screen_name+"</strong>: "+data.text,
            maxWidth: 200
          });

          google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker);
          });
        }
      });
    });
</script>
</body>
</html>

